body{
    margin 0 auto;
}

/* Nav Styles */
nav
{
    color: #fff;
}

/* UI Styles */
.ui
{
    text-align: center;
    margin: 20% auto 0 auto;
    width: 500px;
}

#searchField{
    width: 400px;
}
